<h4>RecroSec</h4>

@RgfEntityComponent.Create(new RgfEntityParameters("RS_ObjectPermission"))
@RgfEntityComponent.Create(new RgfEntityParameters("RS_PermissionGroup"))
@RgfEntityComponent.Create(new RgfEntityParameters("RS_RoleRolePriority"))
@RgfEntityComponent.Create(new RgfEntityParameters("RS_vRecroSec_User"))
@RgfEntityComponent.Create(new RgfEntityParameters("RS_PermissionType"))

@code {

}
