<RgfGridColumnSettingsComponent @ref="_rgfColSettingsRef" BaseDataComponent="BaseDataComponent">
    <SettingsTemplate Context="RgfColSettings">
        <table class="tablesorter">
            <thead>
                <tr>
                    <th class="sort" @onclick="(arg) => Sort(1)">@RecroDict.GetRgfUiString("Name")</th>
                    <th class="sort" @onclick="(arg) => Sort(2)" style="text-align:center">@RecroDict.GetRgfUiString("Position")</th>
                    <th style="text-align:center">@RecroDict.GetRgfUiString("Width")</th>
                </tr>
            </thead>
            <tbody>
                @RenderProperties(Columns ?? RgfColSettings.Columns)
            </tbody>
        </table>
    </SettingsTemplate>
</RgfGridColumnSettingsComponent>

@inject IRecroDictService RecroDict
@code {

    [Parameter, EditorRequired]
    public RgfDataComponentBase BaseDataComponent { get; set; } = null!;

    public RenderFragment RenderProperty(RgfGridColumnSettings settings) =>
    @<tr>
        <td class="@settings.CssClass" style="white-space:nowrap">@(settings.PathTitle ?? settings.Property.ColTitle)</td>
        <td><RgfInputNumber TValue="int?" @bind-Value="@settings.ColPosOrNull" Width="125px" /></td>
        <td><RgfInputNumber TValue="int?" @bind-Value="@settings.ColWidthOrNull" Width="125px" /></td>
    </tr>;

    public RenderFragment RenderEntity(RgfGridColumnSettings settings, RgfGridColumnSettings? parent) =>
    @<tr>
        <td style="white-space:nowrap">
            <RgfButton IconName="@(settings.IsExpanded ? "bi-chevron-down" : "bi-chevron-right")" Label="@(settings.PathTitle ?? settings.Property.ColTitle)"
                       CssClass="@($"rgf-bs-icon-sm me-1 tree-toggle-icon {(settings.IsExpanded ? "btn-secondary" : "btn-light")}")" AdditionalAttributes="@(new(){ {"rgf-bs-tree",""} })"
                       OnClick="(arg) => OnExternal(settings, parent)" />
        </td>
    </tr>;
}