<RgfToolbarComponent @ref="_rgfToolbarRef" EntityParameters="EntityParameters">
    <ToolbarTemplate Context="RgfToolbar">
        @if (EntityParameters.DisplayMode != RfgDisplayMode.Tree || EntityParameters.ParentManager == null)
        {
            <div class="bg-body-secondary p-1">
                <div class="btn-toolbar" role="toolbar">
                    <div class="d-flex">
                        @if (RgfToolbar.CustomMenu != null)
                        {
                            <RgfHtml TagName="div" CssClass="dropdown me-2" role="group"
                                     Tooltip="@RecroDict.GetRgfUiString("CustomFunctions")">
                                <div style="position:fixed;z-index:10;">
                                    @RgfToolbar.CustomMenu
                                </div>
                                <RgfButton IconName="bi-list-task" CssClass="btn-secondary dropdown-toggle"
                                           AdditionalAttributes="@(new(){ {"data-bs-toggle","dropdown"}, {"aria-expanded", "false"} })" />
                            </RgfHtml>
                        }
                        @if (Manager.EntityDesc.Options.GetBoolValue("RGO_ClientMode") != true)
                        {
                            <div class="btn-group me-2" role="group">
                                <RgfButton IconName="bi-arrow-clockwise" CssClass="btn-secondary"
                                           Tooltip="@RecroDict.GetRgfUiString("Refresh")"
                                           OnClick="() => RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.Refresh)" />
                                @if (Manager.EntityDesc.Options.GetBoolValue("RGO_NoFilter") != true)
                                {
                                    <RgfButton IconName="@(RgfToolbar.IsFiltered ? "bi-funnel-fill" : "bi-funnel")"
                                               CssClass="@(RgfToolbar.IsFiltered ? "btn-success" : "btn-secondary")"
                                               Tooltip="@RecroDict.GetRgfUiString("Filter")"
                                               OnClick="() => RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.ShowFilter)" />

                                    @if (EntityParameters.DisplayMode == RfgDisplayMode.Grid)
                                    {
                                        <RgfButton IconName="@(ToolbarParameters.QuickFilterEnabled ? "bi-binoculars-fill" : "bi-binoculars")"
                                                   CssClass="@(ToolbarParameters.QuickFilterEnabled ? "btn-success" : "btn-secondary")"
                                                   Tooltip="@RecroDict.GetRgfUiString("QuickFilter")"
                                                   OnClick="() => {
                                                    ToolbarParameters.QuickFilterEnabled = !ToolbarParameters.QuickFilterEnabled;
                                                    RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.ToggleQuickFilter);}" />
                                    }
                                }
                            </div>
                        }
                        @if (EntityParameters.DisplayMode != RfgDisplayMode.Tree)
                        {
                            <div class="btn-group me-2" role="group">
                                @if (Manager.EntityDesc.Options.GetBoolValue("RGO_NoDetails") != true)
                                {
                                    if (RgfToolbar.BasePermissions.Add)
                                    {
                                        <RgfButton IconName="bi-plus-lg" CssClass="btn-secondary"
                                                   Tooltip="@RecroDict.GetRgfUiString("New")"
                                                   OnClick="() => RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.Add)" />
                                    }
                                    if (RgfToolbar.BasePermissions.Edit)
                                    {
                                        <RgfButton IconName="bi-pencil" CssClass="btn-secondary" Disabled="@(!RgfToolbar.IsSingleSelectedRow)"
                                                   Tooltip="@RecroDict.GetRgfUiString("Modify")"
                                                   OnClick="() => RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.Edit)" />
                                    }
                                    else if (RgfToolbar.BasePermissions.Read)
                                    {
                                        <RgfButton IconName="bi-book" CssClass="btn-secondary" Disabled="@(!RgfToolbar.IsSingleSelectedRow)"
                                                   Tooltip="@RecroDict.GetRgfUiString("Details")"
                                                   OnClick="() => RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.Read)" />
                                    }
                                }
                                @if (RgfToolbar.BasePermissions.Delete)
                                {
                                    <RgfButton IconName="bi-trash" CssClass="btn-secondary" Disabled="@(Manager.SelectedItems.Value.Count == 0)"
                                               Tooltip="@RecroDict.GetRgfUiString("Delete")"
                                               OnClick="() => RgfToolbar.OnDelete()" />
                                }
                            </div>
                        }
                        <div class="btn-group me-2" role="group">
                            @if (EntityParameters.ParentManager == null || EntityParameters.ParentManager.ValidFormKeyExists() == true)
                            {
                                <RgfButton IconName="bi-bar-chart-steps"
                                           CssClass="@(EntityParameters.DisplayMode == RfgDisplayMode.Tree ? "btn-success" : "btn-secondary")"
                                           Tooltip="TreeView"
                                           OnClick="() => RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.ToggleDisplayMode,
                                        new RgfDynamicDictionary() { { nameof(RgfToolbarEventKind.ToggleDisplayMode), EntityParameters.DisplayMode == RfgDisplayMode.Tree ? RfgDisplayMode.Grid : RfgDisplayMode.Tree} })" />
                            }
                            @if (RgfToolbar.EnableChart)
                            {
                                <RgfButton IconName="bi-graph-up" CssClass="btn-secondary"
                                           Tooltip="RecroChart"
                                           OnClick="() => RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.RecroChart)" />
                            }
                        </div>
                        @if (RgfToolbar.SettingsMenu != null)
                        {
                            <RgfHtml TagName="div" CssClass="dropdown me-2" Role="group"
                                     Tooltip="@RecroDict.GetRgfUiString("Settings")">
                                <div style="position:fixed;z-index:10;">
                                    @RgfToolbar.SettingsMenu
                                </div>
                                <RgfButton IconName="bi-gear" CssClass="btn-secondary dropdown-toggle"
                                           AdditionalAttributes="@(new(){ {"data-bs-toggle","dropdown"}, {"aria-expanded", "false"} })" />
                            </RgfHtml>
                        }
                        @if (RgfToolbar.SelectParam != null && Manager.EntityDesc.Options.GetBoolValue("RGO_SelectMode") == true)
                        {
                            <div class="btn-group" role="group">
                                <RgfButton IconName="bi-link" CssClass="@(RgfToolbar.IsSingleSelectedRow ? "btn-success" : "btn-secondary")" Disabled="@(!RgfToolbar.IsSingleSelectedRow)"
                                           Tooltip="@RecroDict.GetRgfUiString("Select")"
                                           OnClick="() => RgfToolbar.OnToolbarCommand(RgfToolbarEventKind.Select)" />
                            </div>
                        }
                    </div>
                    @if (Manager.EntityDesc.Options.GetBoolValue("RGO_ClientMode") != true)
                    {
                        <div class="btn-group rg-grid-settings flex-grow-1" role="group" style="max-width:531px;">
                            <div class="rg-predef-name input-group input-group-sm">
                                <RgfComboBox TValue="int?" Value="@RgfToolbar.GridSetting.GridSettingsId" Text="@RgfToolbar.GridSetting.SettingsName" AllowCustom="true"
                                             Tooltip="@RecroDict.GetRgfUiString("SavedViewName")"
                                             DataSource="RgfToolbar.GridSettingList.Select(e => new KeyValuePair<int?, string>(e.GridSettingsId, e.SettingsName))"
                                             InputChanged="OnGridSettingsChanged" />
                            </div>
                            <div class="rg-predef-save">
                                <div class="ps-1 pe-1">
                                    <RgfComboBox TValue="string" @bind-Value="RgfToolbar.GridSetting.RoleId" DataSource="RecroSec.Roles" IncludeEmptyItem="true"
                                                 Tooltip="@RecroDict.GetRgfUiString("RoleVisibilitySettingTooltip")"
                                                 Disabled="RgfToolbar.GridSetting.IsReadonly == true || !RgfToolbar.IsPublicGridSettingAllowed || string.IsNullOrEmpty(RgfToolbar.GridSetting.SettingsName)" />
                                </div>
                                <div>
                                    <RgfButton IconName="bi-floppy" CssClass="btn-outline-secondary" Tooltip="@RecroDict.GetRgfUiString("SaveGridViewSettings")"
                                               Disabled="RgfToolbar.GridSetting.IsReadonly == true || string.IsNullOrEmpty(RgfToolbar.GridSetting.SettingsName) || !RgfToolbar.IsPublicGridSettingAllowed && RgfToolbar.GridSetting.RoleId != null"
                                               OnClick="(arg) => RgfToolbar.OnSaveGridSettingsAsync()" />
                                    <RgfButton IconName="bi-trash" CssClass="btn-outline-secondary" Tooltip="@RecroDict.GetRgfUiString("DeleteSavedSettings")"
                                               Disabled="RgfToolbar.GridSetting.IsReadonly == true || RgfToolbar.GridSetting.GridSettingsId == null || !RgfToolbar.IsPublicGridSettingAllowed && RgfToolbar.GridSetting.RoleId != null"
                                               OnClick="(arg) => RgfToolbar.OnDeleteGridSettingsAsync()" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </ToolbarTemplate>
</RgfToolbarComponent>

@inject IRecroDictService RecroDict
@inject IRecroSecService RecroSec
@code {

    [Parameter, EditorRequired]
    public RgfEntityParameters EntityParameters { get; set; } = null!;

    private IRgManager Manager => EntityParameters.Manager!;
    private RgfToolbarParameters ToolbarParameters { get => EntityParameters.ToolbarParameters; }
    private string SettingsName => _rgfToolbarRef.GridSetting.SettingsName;

    private RgfToolbarComponent _rgfToolbarRef { get; set; } = null!;

    private Task OnGridSettingsChanged(KeyValuePair<object?, string> item)
    {
        return _rgfToolbarRef.OnSetGridSettingAsync(item.Key as int?, item.Value);
    }
}